@{
    ViewBag.Title = "Contact";
}

<div style="text-align: center; margin-top: 20px;">
    <h3>Contact Information</h3>
    <hr style="border: 1px solid #ccc; width: 50%;">
</div>

<div style="text-align: center; margin-top: 20px;">
    <address>
        <strong>Kagamine Haku</strong>
        <br />
        <abbr title="Phone">Phone:</abbr> 0976-361-634
    </address>

    <address>
        <strong>Email:</strong> <a href="mailto:blomaway@gmail.com">blomaway@gmail.com</a>
    </address>
</div>
